body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*-- Global Selectors --*/
a{
  color:#47649F;
}

body{
  font-family:'helvetica';    
}

/*-- Bootstrap Override Style --*/


/*-- Content Style --*/
.post-footer-option li{
  float:left;
  margin-right:50px;
  padding-bottom:15px;
}

.post-footer-option li a{
  color:#AFB4BD;
  font-weight:500;
  font-size:1.3rem;
}

.photo-profile{
  border:1px solid #DDD;    
}

.anchor-username h4{
  font-weight:bold;    
}

.anchor-time{
  color:#ADB2BB;
  font-size:1.2rem;
}

.post-footer-comment-wrapper{
  background-color:#F6F7F8;
}

  /* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
  */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, button, cite, code,
  del, dfn, em, img, input, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
    font-family: BentonSans, sans-serif;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }

  html, body {
    width: 100%;
    margin: 0;
  };

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  button {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: initial;
  }

  body {
    min-height: calc(100vh - 48px);
    line-height: 1;
    font-family: IBMPlexSans, sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  input, textarea, [contenteditable] {
    font-family:  sans-serif;
    font-size: 14px;
    line-height: 21px;
  }
