backcall==0.1.0
beautifulsoup4==4.6.0
bs4==0.0.1
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
colorama==0.3.9
coverage==4.5.1
DateTime==4.2
decorator==4.3.0
Django==2.0.5
django-cors-headers==2.2.0
django-debug-toolbar==1.9.1
django-filter==1.1.0
django-webpack-loader==0.6.0
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
et-xmlfile==1.0.1
google-api-python-client==1.7.3
google-auth==1.5.0
google-auth-httplib2==0.0.3
gunicorn==19.9.0
httplib2==0.11.3
idna==2.6
ipdb==0.11
ipython==6.4.0
ipython-genutils==0.2.0
jdcal==1.4
jedi==0.12.0
Markdown==2.6.11
mysqlclient==1.3.12
openpyxl==2.5.3
parso==0.2.1
pickleshare==0.7.4
Pillow==5.1.0
prompt-toolkit==1.0.15
pyasn1==0.4.3
pyasn1-modules==0.2.1
Pygments==2.2.0
PyJWT==1.6.4
PySocks==1.5.7
pytz==2018.4
requests==2.18.4
rsa==3.4.2
secure-smtplib==0.1.1
simplegeneric==0.8.1
six==1.11.0
sqlparse==0.2.4
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.22
urllib5==5.0.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
waitress==1.1.0
wcwidth==0.1.7
WebOb==1.8.2
WebTest==2.0.29
whitenoise==3.3.1
xsmtplib==1.0.0.dev1
zope.interface==4.5.0
